html {
    font-family: roboto, sans-serif;
    background-color: rgb(224, 216, 205);
}

.game-sec {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 400px;
    margin: 15px;
}

.salim-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.salim-info img {
    height: 10%;
    width: 10%;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 15px;
    transition: transform .3s ease-in-out;
    isolation: isolate;

}

img:hover {
    transform: scale(1.08);
    box-shadow: 5px 5px #cccccc;
}

.salim-info p {
    width: 800px;
    margin: 5px;
}

img {
    height: auto;
    margin-bottom: 10px;
}

a{
    color: rgb(44, 107, 107);
}

li{
    list-style:circle;
}